<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ElabSupport Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .navbar-inverse .navbar-brand {
            color: white !important;
        }
        .navbar-brand > img {
            display: block;
            width: 170px;
            position: absolute;
            top: -18px;
        }

        .navbar-brand {
            margin-right: 150px;
        }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("Scripts", required: false)
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/images/oos.png" alt="oosLogo" />
                </a>
                @*@Html.ActionLink("Elab Support", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @if (!string.IsNullOrEmpty(Session["UserId"] as string))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("DashBoard", "DashBoard", "Home", new { area = "" }, null)</li>
                        @if (Session["UserRoleId"] as string == "1" || Session["UserRoleId"] as string == "3" || Session["UserRoleId"] as string == "1008")
                        {

                            <li>@Html.ActionLink("UserData", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("ManageUser", "AddUser", "ManageUser", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("ManageRole", "Index", "ManageUser", new { area = "" }, null)</li>
                        }
                        <li>@Html.ActionLink("Account", "Account", "ManageUser", new { area = "" }, null)</li>


                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("SPAViews", required: false)
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Elab Support</p>
        </footer>
    </div>


</body>
</html>
