@model List<ElabSupport.Models.AccountSupportData>

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>
@using (Html.BeginForm("FilterByDate", "ManageUser", FormMethod.Get))
{
<div>
    <label for="fromDate">From Date:</label>
    <input type="date" id="fromDate" name="fromDate" value="@ViewData["fromDate"]" />

    <label for="toDate">To Date:</label>
    <input type="date" id="toDate" name="toDate" value="@ViewData["toDate"]" />

    <input type="submit" value="Search" class="btn btn-primary" />
    @* Add hidden fields for fromDate and toDate *@
    @Html.Hidden("fromDate", ViewData["fromDate"])
    @Html.Hidden("toDate", ViewData["toDate"])
</div>
}

<table class="table">
    <thead>
        <tr>
            <th>OOSPerson</th>
            <th>UserRole</th>
            <th>Days Work</th>
            <th>TotalAmount</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.OOSPerson</td>
                <td>@role.UserRole</td>
                <td>@role.Days</td>
                <td>@role.TotalAmount</td>
                <td>
                    @Html.ActionLink("View", "ViewUserAccount", new { id = role.OOSPerson }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
