@model List<ElabSupport.Models.AccountSupportData>

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Account</h2>


<table class="table">
    <thead>
        <tr>
            <th>OOSPerson</th>
            <th>UserRole</th>
            <th>Days Work</th>
            <th>TotalAmount</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.OOSPerson</td>
                <td>@role.UserRole</td>
                <td>@role.Days</td>
                <td>@role.TotalAmount</td>
                <td>
                    @Html.ActionLink("View", "View", new { id = role.UserRole }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
