@model List<ElabSupport.Models.UserAccountData>
<button class="btn btn-primary" onclick="printTables()" style="position: relative; top: 11px; left: 69%; transform: translateX(-50%);">Print</button>

@section scripts {
    <script>
        function printTables() {
            var printWindow = window.open('', '_blank');
            var summaryTableContent = document.querySelector('.summary-table').outerHTML;
            var detailsTableContent = document.querySelector('.details-table').outerHTML;

            printWindow.document.open();
            printWindow.document.write('<html><head><title>Print</title></head><body>');
            printWindow.document.write('<h2>Personal Details:</h2>');
            printWindow.document.write(summaryTableContent);
            printWindow.document.write('<h3>Account Details:</h3>');
            printWindow.document.write(detailsTableContent);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
        }
    </script>
}
<h3>Personal Details:</h3>
<table class="table summary-table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name:</td>
            <td>@Model[1].OOSPerson</td>
            <td>MobileNumber</td>
            <td>@Model[1].MobileNumber</td>
        </tr>
        <tr>
            <td>UserRole:</td>
            <td>@Model[1].UserRole</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>TotalDay:</td>
            <td>@Model.Sum(u => Convert.ToDouble(u.Day))</td>
            <td>TotalAmount</td>
            <td>@Model.Sum(u => Convert.ToDouble(u.Amount))</td>
        </tr>
    </tbody>
</table>
<br />
<h3>Account Details:</h3>
<table class="table details-table">
    <thead>
        <tr>
            <th>ScheduleDate</th>
            <th>Day</th>
            <th>Amount</th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td>@user.ScheduleDate</td>
                    <td>@user.Day</td>
                    <td>@user.Amount</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="15">No data available</td>
            </tr>
        }
    </tbody>
</table>

